@CHARSET "UTF-8";

@font-face {
    font-family: KochAltschrift;
    src: url('fonts/KochAltschriftKursiv.ttf');
}

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

html {
    height: 100%;

    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
    font-family: KochAltschrift;
	font-size: 24px;
}

body {
    display: -moz-box;
    -moz-box-align: stretch;
    -moz-box-orient: horizontal;

    width: 100%;
    height: 100%;

    background: url('images/flourish_top.png') right top no-repeat, url('images/background-tile.jpg') left top repeat;
}

h1 {
    margin: 30px 0px;
}

h2, h3, h4, h5, h6 {
    margin: 30px 0px;
	padding-left: 15px;
}

p {
	margin: 10px 0px;
}

hr {
    height: 24px;

    margin: 40px 0px;

    background: center center no-repeat url('images/flourish.png');
}

/* Menu ************************************************************************************************************* */

.menu {
    display: -moz-box;
    -moz-box-orient: vertical;

    width: 400px;

	padding: 40px 40px 0px;

    background: url('images/flourish_bottom.png') left bottom no-repeat;
}

.menu hr {
	margin: 0px;
}

.title {
    display: block;

    font-size: 200%;
    text-align: center;
}

.title a {
	color: #ffffff;
    text-decoration: none;
}

.quote1 {
	margin-bottom: 0px;
}

.quote2 {
    margin-top: 0px;

    text-align: right;
}

.author {
	padding-right: 50px;

    text-align: right;
    font-size: 80%;
}

.links {
	display: normal;

    margin-top: 40px;
    padding: 30px 30px 0px;

    text-align: center; /* Simple hack that centers the images inside the .link a */
}

.links a {
	display: inline-block;
	width: 48%;
	margin: 5px 0px;
}

/* Content ********************************************************************************************************** */

.content {
    -moz-box-flex: 1;

    padding: 40px;
}

/* Images *********************************************************************************************************** */

.images {
    position: relative;
	-moz-column-count: 2;
}

.image {
    position: relative;
	display: -moz-box;
    -moz-box-orient: vertical;
    -mox-box-pack: right;
    -moz-box-align: end;
    -moz-box-flex: 1;

    max-width: 450px;

    padding:  10px;

    text-align: center;
    text-decoration: none;
}

.image img {
    position: relative;
    display: block;

    width: 100%;
    height: 100%;

    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.8);
    border-radius: 5%;
}

.image .overlay {
    position: absolute;

	display: inline-block;

    width: 100%;
    height: 100%;

    text-align: center;
    font-size: 142%;
    color: rgba(27, 54, 81, 0.8);
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);

    opacity: 0;
	border-radius: 5% 7% 5% 7%;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, rgba(241, 210, 194, 1) 100%);
    -moz-transition: opacity 0.3s linear;
}

.overlay:hover {
	opacity: 1;
}

/* Text ************************************************************************************************************* */

.text {
	padding: 50px 30px 40px;
}

/* ****************************************************************************************************************** */

.gallery {
    width: 100%;
    height: 100%;

    display: -moz-box;
    -moz-box-orient: vertical;
    -mox-box-pack: center;
    -moz-box-align: center;

	padding: 50px 30px 40px;
}
.gallery img {
    border-radius: 5%;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.8);
}
.thumbs {
    display: -moz-box;
    -moz-box-orient: horizontal;
    -mox-box-pack: center;
    -moz-box-align: center;

    list-style: none outside none;
}
.thumb {
    opacity: 0.75;
}
.thumb:hover {
    opacity: 1;
}
.slider {
    list-style: none outside none;
    position: relative;
}
.slider li {
    height: 438px;
    position: absolute;
    width: 1200px;
}
.slider li p {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: inherit;
}
.slider li p span {
    display: block;
    line-height: 1.2em;
    padding: 10px;
}
.slider li:target {
    left: 0;
    top: 0;
    z-index: 10;
}
.slider li:not(:target) {
    left: 0;
    top: 0;
}
